.card__container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-content: space-between;
}
.card__header {
  color: var(--th-color-text-card-header);
  font-family: var(--th-font-inter);
  max-width: 25rem;
  width: 100%;
  h6 {
    text-align: start;
    font-size: 1.5rem;
  }
  b {
    color: var(--th-color-text-highlight);
    text-decoration-line: none;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  div:first-child {
    margin-bottom: 2rem;
  }

  form > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    label {
      color: var(--th-color-text-label);
      /* Body/Medium */
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
    }
    input {
      border-radius: 1rem;
      border: 1px solid var(--th-color-text-input);
      padding: 1rem;
      font-size: 1rem;
      color: var(--th-color-text-input);
      border: 1px solid var(--th-color-text-input);
      &:focus {
        outline: var(--th-color-input-focus) auto 1px;
        color: var(--th-color-text-selected);
      }
    }
  }
  form {
    button {
      display: flex;
      padding: 1rem 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-top: 2rem;
      width: 100%;
      border-radius: 1rem;
      border: 1px solid var(--th-color-button);
      cursor: pointer;
    }
  }
}
.card__terms {
  color: var(--th-color-text-footer);
  text-align: center;

  /* Caption/Regular */
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */

  b {
    color: var(--th-color-text-highlight);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
  }
}
.card__footer {
  text-align: center;
  p {
    font-size: 1rem;
    color: var(--th-color-text-footer);

    /* Body/Big */
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */

    a,
    b {
      color: var(--th-color-text-link);
      /* Button/Big */
      font-family: Inter;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      cursor: pointer;
      text-decoration-line: none;
    }
  }
}
.card__button {
  background: var(--th-color-button);
  color: var(--th-color-text-button);
  &:hover {
    background-color: var(--th-color-button-hover);
  }
  &:focus {
    outline: var(--th-color-button-focus) auto 1px;
  }
}
.card__error {
  padding-left: 5px;
  color: var(--th-color-text-error);
}
