.card__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  div:first-child {
    margin-bottom: 1.5rem;
  }

  form > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    label {
      color: var(--th-color-text-label);
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
    }
    input[id="email"] {
      border-radius: 1rem;
      padding: 1rem;
      font-size: 0.875rem;
      border: 2px solid var(--th-color-text-input);
      color: var(--th-color-text-input);
      background: transparent;
      &:invalid {
        outline: 2px solid var(--th-color-focus-error);
        color: var(--th-color-focus-error);
        border-color: transparent;
      }
      &:focus {
        outline: 2px solid var(--th-color-input-focus);
        color: var(--th-color-text-selected);
        border: none;
      }
    }
  }

  b, a {
    font-size: 0.875rem;
    align-self: flex-end;
    color: var(--th-color-text-forgotten-password);
    margin: 0.5rem 0 2.5rem 0;
    cursor: pointer;
    text-decoration: none;
  }
}
.card__container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.card__footer {
  p {
    font-size: 0.875rem;
    color: var(--th-color-text-footer);

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;

    a,
    b {
      color: var(--th-color-text-link);
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
.card__button {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;

  border-radius: 1rem;
  border: 1 solid var(--th-color-button);
  background: var(--th-color-button);

  color: var(--th-color-text-button);
  cursor: pointer;

  &:hover {
    background-color: var(--th-color-button-hover);
  }
  &:focus {
    outline: 2px solid var(--th-color-button-focus);
  }
  &:disabled {
    background-color: var(--th-color-button-disabled);
    color: var(--th-color-text-button-disabled);
    cursor: not-allowed;
  }
}
.card__error {
  padding-left: 5px;
  font-size: 0.875rem;
  color: var(--th-color-text-error);
}
