.container {
  background: var(--th-color-background);
  background-image: var(--th-img-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  figure {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  figcaption {
    font-family: "Lora", sans-serif;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    min-width: 28rem;
    margin: 0 auto;
  }

  .forgotPasswordContainer {
      display: flex;
      justify-content: flex-end;
      margin: -1.5rem 0 0.5rem 0;
    }
}
