.card__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  div:first-child {
    margin-bottom: 2rem;
  }

  form > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    label {
      color: var(--th-color-text-label);
      /* Body/Medium */
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
    }
    input[id="email"] {
      border-radius: 1rem;
      padding: 1rem;
      font-size: 1rem;
      border: 1px solid var(--th-color-text-input);
      color: var(--th-color-text-input);
      &:focus {
        outline: var(--th-color-input-focus) auto 1px;
        color: var(--th-color-text-selected);
      }
    }
  }

  b {
    font-size: 1rem;
    align-self: flex-end;
    color: var(--th-color-text-forgotten-password);
    margin: 0.5rem 0 2.5rem 0;
    cursor: pointer;
  }
}
.card__container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.card__footer {
  p {
    font-size: 1rem;
    color: var(--th-color-text-footer);

    /* Body/Big */
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    text-align: center;

    a,
    b {
      color: var(--th-color-text-link);
      /* Button/Big */
      font-family: Inter;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
.card__button {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 1rem;
  border: 1 solid var(--th-color-button);
  background: var(--th-color-button);

  color: var(--th-color-text-button);
  cursor: pointer;

  &:hover {
    background-color: var(--th-color-button-hover);
  }
  &:focus {
    outline: var(--th-color-button-focus) auto 1px;
  }
}
.card__error {
  padding-left: 5px;
  color: var(--th-color-text-error);
}
