.container {
  background: var(--th-color-background);
  background-image: var(--th-img-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
