.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 250px;
  height: 100vh;
  padding: 20px 0px;
  background-color: var(--gray-50);
  border-right: 1px solid var(--gray-200);

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }

  li {
    width: 100%;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: var(--th-button-sidebar-text-noselected);
    border-radius: 20px;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover:not(.active) {
      background-color: var(--primary-200);
    }

    &.active {
      background-color: var(--primary-600, #008287);
      color: var(--white, #ffffff);
    }
  }
}
