.Option {
    margin: 14px 16px;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      
      span {
        padding-left: 16px;
        font-family: var(--th-font-inter);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: justify;
      }
    }
}