.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:  var(--gray-100);
  font-family: "Inter", sans-serif;
}
.header {
  background-color: #007b7f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0 30px; 
  color: white;
}
.headerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;

  h3 {
    margin: 0; 
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.8;
  }
}

.headerRight .logoutBtn {
  background-color: #148686;
  border: 2px solid white; 
  color: white;
  padding: 15px 1rem;
  border-radius: 10px; 
  cursor: pointer;
}
.content {
  display: flex;
  flex: 1;
  gap: 1rem;
  padding: 0 2rem;
  margin-top: 20px;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 1rem;
    color: #333;
    text-align: center;
  }
}

.cardGridTop {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.cardGridBottom {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  
}
.cardWrapper {
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1px; 
  
}  

.textarea {
  width: 100%;
  min-height: 115px;
  padding: 18px;
  border: 2px  #0b61f5;
  border-radius: 1%;
  font-size: 12px;
}
.cardGridTop .cardWrapper .textarea {
  background-color: #d0f0ff; /* azul claro */
  border-color: #0b61f5;
  color: #8db5dd;
}

.cardGridBottom .cardWrapper .textarea {
  background-color: #ffe5cc; /* laranja claro */
  border-color: #ff9900;
  color: #663300;
}
.logo {
  width: 70px;
  height: auto;
  margin-right: 12px;
}
.userStoryBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100vw; 
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
  margin: 0;
  gap: 15px;
}

.userStoryText {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.arrowBtn {
  background-color: #148686;
  color: white;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowBtn:hover {
  background-color: #00879a;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100vw; /* 🟡 ocupa toda a largura da tela */
  margin: 0;
  padding: 15px 0;
  border-bottom: 2px solid #007b7f;
  position: relative;
  top: 0; /* cola com o verde */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar {
  margin-top: 30px;
}