.card__container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  align-content: space-between;
}
.card__header {
  color: var(--th-color-text-card-header);
  font-family: var(--th-font-inter);
  max-width: 25rem;
  width: 100%;
  h6 {
    text-align: start;
    font-size: 1.125rem;
  }
  b {
    color: var(--th-color-text-highlight);
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: -1rem;
      span {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 12vh;

        label {
          margin-bottom: 1rem;
          color: var(--th-color-text-label);
          font-family: Inter;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
        input {
          border-radius: 1rem;
          padding: 0.9rem;
          font-size: 0.875rem;
          color: var(--th-color-text-input);
          border: 1px solid var(--th-color-text-input);
          &:focus {
            outline: var(--th-color-input-focus) auto 1px;
            color: var(--th-color-text-selected);
          }
          &:invalid {
            outline: 2px solid var(--th-color-focus-error);
            color: var(--th-color-focus-error);
            border-color: transparent;
          }
          &:focus-within {
            outline: 2px solid var(--th-color-input-focus);
            border: none;
            color: var(--th-color-text-input);
            svg {
              color: var(--th-color-input-focus);
            }
          }
        }
      }
    }
    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      height: fit-content;
      label {
        margin-bottom: 1rem;
        color: var(--th-color-text-label);
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    div:nth-child(3) {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 1rem;
        color: var(--th-color-text-label);
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      input {
        border-radius: 1rem;
        border: 1px solid var(--th-color-text-input);
        padding: 1rem;
        font-size: 0.875rem;
        color: var(--th-color-text-input);
        &:focus {
          outline: var(--th-color-input-focus) auto 1px;
          color: var(--th-color-text-selected);
        }
        &:invalid {
          outline: 2px solid var(--th-color-focus-error);
          color: var(--th-color-focus-error);
          border-color: transparent;
        }
        &:focus-within {
          outline: 2px solid var(--th-color-input-focus);
          border: none;
          color: var(--th-color-text-input);
          svg {
            color: var(--th-color-input-focus);
          }
        }
      }
    }
    button {
      display: flex;
      padding: 1rem 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
      border: 1px solid var(--th-color-button);
      margin-top: -0.5rem;
      font-size: 1rem;
    }
  }
}
.card__button[type="submit"] {
  background: var(--th-color-button);
  color: var(--th-color-text-button);
  &:hover {
    background-color: var(--th-color-button-hover);
    border-color: var(--th-color-button-hover);
  }
  &:focus {
    outline: 2px solid var(--th-color-button-focus);
  }
  &:disabled {
    border: none;
    background-color: var(--th-color-button-disabled);
    color: var(--th-color-text-button-disabled);
    cursor: not-allowed;
  }
}

.card__button[type="button"] {
  background: var(--th-color-button-back);
  color: var(--th-color-text-button-back);
  &:hover {
    background-color: var(--th-color-button-hover);
    color: var(--th-color-text-button);
  }
  &:focus {
    outline: 2px solid var(--th-color-button-focus);
  }
}
.card__error {
  padding-top: 0.5rem;
  padding-left: 5px;
  font-size: 0.875rem;
  color: var(--th-color-text-error);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  // display: none;
}
input[type="date"]::-moz-calendar-box {
  display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}
