.container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 10px;
  width: fit-content;

  h2 {
    font-size: 1.5rem;
  }
}

form {
  margin-top: 3rem;
}

legend {
  font-weight: 800;
  margin-bottom: 1rem;
}

fieldset {
  border: none;
  margin-bottom: 3rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.members {
  display: flex;
  gap: 20px;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  align-self: center;
  border: 1px solid red;
  background: none;
  border-radius: 5px;
  color: red;
  cursor: pointer;
  padding: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;

  button {
    width: fit-content;
  }

  div {
    display: flex;
    gap: 2rem;
  }
}
