.InputDropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 12vh;
border: none;
  label {
    margin-bottom: 1rem;
    color: var(--th-color-text-label);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  select {
    border-radius: 1rem;
    border: 1px solid var(--th-color-text-input);
    padding: 1rem;
    font-size: 0.875rem;
    &:focus {
      outline:2px solid  var(--th-color-input-focus);
      color: var(--th-color-text-label);
    }

    appearance: none;
    -webkit-appearance: none;
    background-image: url("/src/assets/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.65rem auto;
    cursor: pointer;
    background-color: var(--th-color-input-select);

    &::after {
      border-radius: 1rem !important;
      border: 2px solid var(--th-color-text-input);
    }
    &::before {
      border-radius: 1rem !important;
      border: 2px solid var(--th-color-text-input);
    }
    &:invalid {
      outline: 2px solid var(--th-color-focus-error);
      color: var(--th-color-focus-error);
      border-color: transparent;
      svg {
        color: var(--th-color-focus-error);
      }
    }
    &:focus-within {
      outline: 2px solid var(--th-color-input-focus);
      border: none;
      color: var(--th-color-text-input);
      svg {
        color: var(--th-color-input-focus);
      }
    }
  }
  select {
    color: var(--th-color-text-input-selected);
  }
}
