.viewBrainstorming__container {
  background-color: var(--white);
  margin: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;

    span {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      svg {
        fill: #424242;
      }
    }

    h4 {
      color: #212121;
      font-family: Inter;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 150%;
    }
  }
}

.viewBrainstorming__content {
  .viewBrainstorming__box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .viewBrainstorming__filter {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

.viewBrainstorming__table {
  margin: 2.5rem 0 1.5rem;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 1rem;
    border: 0.06rem solid #e0e0e0;
    background: #ffffff;

    thead {
      background-color: rgb(250, 250, 250);

      th {
        padding: 1.25rem 1rem;
        color: #757575;
        font-family: Inter;
        font-size: 0.88rem;
        font-weight: 400;
        line-height: 150%;
        text-align: left;

        &:first-child {
          border-top-left-radius: 1rem;
        }
        &:last-child {
          border-top-right-radius: 1rem;
        }
      }
    }

    tbody tr {
      td {
        color: #00686c;
        font-family: Inter;
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
        padding: 1.25rem 1rem;
        border-bottom: 0.5px solid #ccc;
      }

      &:last-child td {
        border-bottom: none;
        &:first-child {
          border-bottom-left-radius: 1rem;
        }
        &:last-child {
          border-bottom-right-radius: 1rem;
        }
      }
    }
  }
}

.table__users {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.table__status {
  display: inline-flex;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  background: #ffc53f;
  
  span {
    color: rgb(33, 33, 33);
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 150%;
  }
}

.table__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;

  span {
    cursor: pointer;
    svg {
      fill: #757575;
    }
  }
}

.viewBrainstorming__card {
  width: 100%;
  margin: 2.5rem 0 1.5rem;
}

.viewBrainstorming__cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 24px;
  width: 100%;
}

.brainstormingcard__actions {
  display: flex;
  justify-content: space-around;
}