.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--white);

  &.flexColumn {
    display: flex;
    flex-direction: column;
  }

  &.minHeightScreen {
    height: auto;
    min-height: 100vh;
  }
}
