.card {
  width: 280px;
  height: 400px;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 1px;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 10px auto;
  padding: 16px;
  transition: transform 0.2s ease, box-shadow 0.8s ease;
  overflow: hidden;
  
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Azul */
.card.azul {
  border-color: #00b5b8;
}

.card.azul .header {
  background-color: #00b5b8;
}

.card.azul .icon {
  background-color: #00b5b8;
}

/* Laranja */
.card.laranja {
  border-color: #ff9f43;
}

.card.laranja .header {
  background-color: #ff9f43;
}

.card.laranja .icon {
  background-color: #ff9f43;
}

.header {
  width: 100%;
  padding: 16px;
  background-color: #00b5b8; 
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: none;
  border-radius: 0;
}


.title {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.text {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
  text-transform: none;

}

.guide {
  border: 1.5px solid rgb(9, 142, 219);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0 ;
  
}
.card.laranja .guide {
  border: 1.5px solid rgb(219, 65, 9);
  border-radius: 8px;
  padding: 17px;
  margin: 10px 0;
}

.guideTitle {
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;

}
.guideInfo {
  font-size: 0.7rem;
  font-style: italic;     
  font-weight: normal;    
  text-align: left;
  margin-top: 4px;
  margin-bottom: 12px;
}
.statusBox {
  
  background-color: rgba(0, 181, 184, 0.1);
  border-radius: 8px;
  padding: 8px;
  margin-top: 0;
  font-size: 1rem;
  text-align: left;
  position: relative;
  top: -10px;


}
.card.laranja .statusBox {
  background-color: rgba(255, 107, 26, 0.1);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 12px;
}

.icon {
  color: #fff;
  font-size: 1rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.textarea {
  width: 100%;
  min-height: 60px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  resize: vertical;
  outline: none;

  &:focus {
    border-color: #007bff;
  }
}
