.sidebar__container {
  border-right: 1px solid var(--th-line-sidebar);
  background: var(--th-background-sidebar);
  position: static;
  height: 100vh;
  padding: 1.5rem 1rem;

  nav {
    padding-top: 2.5rem;
  }
}

.sidebarButton__container {
  width: 12rem;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 8px 0;
  text-decoration: none;
  border-radius: 1rem;

  background: transparent;
  span {
    /* Button/Small */
    color: var(--th-button-sidebar-text-noselected);

    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 150%;
    text-align: justify;
    padding-left: 1rem;
  }

  &[aria-pressed="true"] {
    background: var(--th-button-sidebar-background);
    svg {
      fill: var(--th-button-sidebar-text-selected);
    }
    span {
      color: var(--th-button-sidebar-text-selected);
    }
  }
  &[aria-pressed="false"] {
    svg {
      fill: var(--th-button-sidebar-text-noselected);
    }
    &:hover {
      background: var(--th-button-sidebar-hover);
    }
  }
}
