.Configuration {
  background-color: var(--th-background-configuration-page);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  
  .Configuration__Header {
    background-color: var(--th-color-background-configuration-header);
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  .Configuration__BackLink {
    width: 937px;
    margin: 32px 0 16px 24px;
    
    a {
      display: inline flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      color: var(--th-color-text-back-link);
      font-weight: 600;

      img {
        margin-right: 8px;
      }
    }
  }

  .Configuration__Wrapper {
    display: flex;
    justify-content: center;

    .Configuration__Sidebar {
      display: grid;
      gap: 16px;
      width: 293px;
      height: fit-content;
      padding: 24px;
      margin: 16px 32px 0 0;
      background-color: var(--th-color-background-configurations-sidebar);
      border-radius: 16px;
      border: var(--th-border-configurations-sidebar);
    }
  
    .Configuration__Content {
      width: 612px;
      height: fit-content;
      padding: 32px;
      margin-top: 16px;
      background-color: var(--th-color-background-configurations);
      border-radius: 16px;
      border: var(--th-border-configurations);
    }
  }
}