.container {
  background: var(--th-color-background);
  background-image: var(--th-img-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6875rem;
    color: var(--th-color-title-password-recover);
    margin-bottom: 0.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    margin: 0 auto;
    min-width: 28rem;
  }

  .buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
