.container {
  border: 1px solid var(--gray-200) !important;
  border-radius: 8px !important;
  overflow: hidden;
}

.tableContainer {
  max-height: 440px;
}

.table {
  min-width: 650px;
}

.tableHeadRow {
  background-color: var(--gray-50);
}

.tableHeadCell {
  background-color: var(--gray-50) !important;
  color: var(--gray-400) !important;
  font-weight: 600 !important;

  :global(.MuiTableSortLabel-root) {
    &:hover,
    &.Mui-active {
      color: var(--primary-600) !important;

      :global(.MuiTableSortLabel-icon) {
        color: var(--primary-600) !important;
      }
    }
  }
}

.row {
  &:last-child td,
  &:last-child th {
    border: 0;
  }
}

.nameCell {
  color: var(--primary-600) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.creatorWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  background-color: var(--primary-400) !important;
  width: 24px !important;
  height: 24px !important;
}

.creatorName {
  color: var(--primary-600);
}

.dateCell {
  color: var(--primary-600) !important;
}

.statusChip {
  background-color: var(--tertiary-200) !important;
  color: var(
    --tertiary-700
  ) !important;
  font-weight: bold !important;
  border-radius: 20px !important;
  padding: 5px !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-top: 1px solid var(--gray-200);
}

.rowsPerPageWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-500);
}

.select {
  font-size: 0.875rem !important;
  font-weight: bold !important;
}

.pagination {
  :global(.Mui-selected) {
    background-color: var(--primary-200) !important;
    color: var(--primary-800) !important;
  }
}
